/*.carouselItem {
    width:90vw;
    height: 48vh;
    background: transparent;
    display: flex;
    border-radius: 3px;
    

    img {
        position: absolute;
        bottom: 1vh;
        width: 86vw;
        height: 49vh;
        border-radius: 3px;
        margin: 0 1vw 0 1vw;
    }
}*/

/*
.carouselItem {
    

    img {
        width: 88vw;
        max-height: 48vh !important;
        min-height: 48vh !important;
    }
}
*/

.carouselItem {
    width: 89.5vw;
    height: 41vh;
    margin: 0 0.25vw;
    transition-duration: 0.5s;
    transform: scale(1.02);
    opacity: 1;
    

    img {
        position: absolute;
        top: 3vh;
        width: 89.5vw;
        height: 38vh;
        border-radius: 3px;
    }
}

.currentSlide {
    transform: scale(0.97) !important;
    opacity: 0.8;
}

