/*.carouselItem {
    width:90vw;
    height: 48vh;
    background: transparent;
    display: flex;
    border-radius: 3px;
    

    img {
        position: absolute;
        bottom: 1vh;
        width: 86vw;
        height: 49vh;
        border-radius: 3px;
        margin: 0 1vw 0 1vw;
    }
}*/

/*
.carouselItem {
    

    img {
        width: 88vw;
        max-height: 48vh !important;
        min-height: 48vh !important;
    }
}
*/

.carouselItem {
    top: 2vw;
    width: 90vw;
    height: 23vw;
    margin: 0 5vw 0 5vw;
    transition-duration: 0.5s;
    transform: scale(1.02);
    opacity: 1;
    -webkit-box-shadow: 0 32px 24px -24px black;
	   -moz-box-shadow: 0 32px 24px -24px black;
            box-shadow: 0 32px 24px -24px black;
    

    img {
        position: absolute;
        width: 90vw;
        height: 23vw;
        border-radius: 3px;
    }
}

.currentSlide {
    transform: scale(0.97) !important;
    opacity: 0.6;
    
}

@media only screen and (max-width: 1025px) {
    .carouselItem {
        width: 90vw;
        height: 44vw;
        margin: 0 5vw 0 5vw;
        transition-duration: 0.5s;
        transform: scale(1.02);
        opacity: 1;
        
    
        img {
            position: absolute;
            top: 2vw;
            width: 90vw;
            height: 42vw;
            border-radius: 3px;
        }
    }
}