.nav {
    position: fixed;
    width: 101vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 9vh;
    background-color: transparent;
    margin-left: -1%;
    z-index: 4;
    transition-timing-function: ease-in;
    transition: all .5s;

    .nav__logo {
        position: fixed;
        left: 20px;
        width: 6vw;
        object-fit: contain;
        margin-top: -2vh;
    }

    

    .netflix__avatar {
        position: fixed;
        right: 30px;
        width: 45px;
        object-fit: contain;
        cursor: pointer;
        border-radius: 50px;
        margin-top: -1.5vh;
    }
}

.nav_black {
    background-color: #171925 !important;
}